body {
    font-family: Arial, sans-serif;
    background-color: #dae0f2;
    margin: o;
    padding: 0;
  }
  
  .container {
    max-width: 800Spx;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  button {
    background-color: #611e4b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #301934;
  }
  
 /* Centering */
#quiz {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: flex-start; /* Align items to the top */
    justify-content: center;
    height: 30vh; /* Use the full height of the viewport */
  }
  
  #quiz form {
    text-align: center;
  }